@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form asp-page-handler="add" method="post">
        Add animal: <select asp-for="SelectedAddAnimal" asp-items="@Model.ListOfAnimals"></select>
        <input type="text" name="name" style="width: 130px" />
        <button class="btn btn-primary" style="width: 130px">Add</button>
    </form>
    <form asp-page-handler="feed" method="post">
        Feed animal: <select asp-for="SelectedFeedAnimal" asp-items="@Model.ListOfAnimals"></select>
        <button class="btn btn-primary" style="width: 130px" name="type" value="all">Feed</button>
    </form>
</div>
<div id="reload">

</div>


@section script {
    <script>
        window.onload = function () {
            function foo() {
                $('#reload').load('/Index?handler=AnimalPartial')
            }

            setInterval(foo, 500);
        }
    </script>
}